{
  "presets": [
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "react-flow-props-to-prop-types",
	"transform-decorators-legacy",
	"transform-class-properties"
  ]
}